
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #505050;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #505050;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 360%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 300;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 270%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 300;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 130%;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 5%;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 180%;
    font-weight: 300;
    color: white;
}

A:link {
    color: #DA3B01;
    text-decoration: none;
}

A:hover {
    color: #DA3B01;
    text-decoration: none;
}

A:visited {
    text-decoration: none;
    border: none;
    color: #DA3B01;
}

A:active {
    text-decoration: none;
    border: none;
    color: #DA3B01;
}

#wrapper {
    background-color: #ECF0F1;
}

#menu {
    min-height: 37px;
    height: 37px !important;
    background-color: #222222;
}

#logo {
    height: 23;
    margin-top: -7px;
    margin-left: 5px;
}

#menubut1 {
    min-height: 43px;
    height: 43px !important;
    margin-top: -6px;

}

#menubut2 {
    min-height: 43px;
    height: 43px !important;
    margin-top: -6px;
}

#menubut3 {
    min-height: 43px;
    height: 43px !important;
    margin-top: -6px;
}

#menubut4 {
    min-height: 43px;
    height: 43px !important;
    margin-top: -6px;
}

#menubut5 {
    min-height: 43px;
    height: 43px !important;
    margin-top: -6px;
}

#but-mob {
     min-height: 35px;
    height: 35px !important;
    margin-top: -0.1px;
}

#menumob {
    background-color: #222222;
    margin-top: -0.1px;
}

#header {
    height: 100vh;
    background-color: #DA3B01;
    }

#text1 {
margin-top: 100px;
margin-left: 4%;
color: white;
padding-bottom: 50px;
}

#imgscroll {
    position: absolute;
    border: 1px solid red;
    margin-top: 38%;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    max-width:100%;
}

#scrolllink {
    opacity: 0.5;
}

#scrolllink:hover {
    background: url();
}

#img1 {
    max-width:100%;
    margin-top: 100px;
    padding-bottom: 100px;
}

#text2 {
    color: #000;
    text-align: center;
}

#imgof1 {
    margin-top: 3%;
    width: 113;
    max-width:100%;
}

#imgof2 {
    margin-top: 3%;
    width: 113;
    max-width:100%;
}

#imgof3 {
    margin-top: 3%;
    width: 113;
    max-width:100%;
}

#textof1 {
    color: #000;
    text-align: center;
}

#textof2 {
    color: #000;
    text-align: center;
}

#textof3 {
    color: #000;
    text-align: center;
}

#imgof4 {
    margin-top: 3%;
    max-width:100%;
    width: 113;
}

#imgof5 {
    margin-top: 3%;
    width: 113;
    max-width:100%;
}

#imgof6 {
    margin-top: 3%;
    width: 113;
    max-width:100%;
}

#textof4 {
    color: #000;
    text-align: center;
}

#textof5 {
    color: #000;
    text-align: center;
}

#textof6 {
    color: #000;
    text-align: center;
}

#get {
    background-color: #DA3B01;
    color: white;
    text-align: center;
}

#maininfo {
    margin-left: 7%;
}

.circle {
 width:40px;
 height:40px;
 border-radius:50px;
 -moz-border-radius:50px;
 -webkit-border-radius:50px;
 -khtml-border-radius:50px;
 font-size:20px; color:#fff;
 line-height:40px;
 text-align:center;
 background:#DA3B01;
 margin-left: -20px;
 margin-top: 40px;
 position: absolute;
 
}

#maininfo1 {
        opacity: 0.2;
-webkit-transition: all 2s ease-in-out; 
-moz-transition: all 2s ease-in-out; 
-o-transition: all 2s ease-in-out; 
-ms-transition: all 2s ease-in-out; 
transition: all 2s ease-in-out;
    padding-top: 20px;
    border-left: 2px solid #DA3B01
}

#maintxt1 {
    color: #859394;  
}

#maintxth1 {
        color: #333333;
    }

#mainimg1 {
    max-width:100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

#maininfo2 {
            opacity: 0.2;
-webkit-transition: all 2s ease-in-out; 
-moz-transition: all 2s ease-in-out; 
-o-transition: all 2s ease-in-out; 
-ms-transition: all 2s ease-in-out; 
transition: all 2s ease-in-out;
    border-left: 2px solid #DA3B01
}

#mainimg2 {
    max-width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#but1 {background-color: #00A400;}

#but1:hover {opacity: 0.5;}

#but2 {background-color: #0E9AFF; margin-top: -10px;}

#but2:hover {opacity: 0.5;}

#imgbut1 {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 71;
    max-width:71%;   
}

#buttxt1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#imgbut2 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 5px;
    width: 75;
    max-width:75%;
}

#buttxt2 {
    margin-top: 15px;
}

#maininfo3 {
            opacity: 0.2;
-webkit-transition: all 2s ease-in-out; 
-moz-transition: all 2s ease-in-out; 
-o-transition: all 2s ease-in-out; 
-ms-transition: all 2s ease-in-out; 
transition: all 2s ease-in-out;
    padding-top: 20px;
    border-left: 2px solid #DA3B01;
    padding-bottom: 2%;
}

#mobile {
    padding-top: 10px;
    background-color: white;
    padding-bottom: 20px;
}

#textmobile {
    color: #000;
    text-align: center;
}

#mob1 {text-align: center;}
#mob2 {text-align: center;}
#mob3 {text-align: center;}
#mob4 {text-align: center;}
#mob5 {text-align: center;}
#mob6 {text-align: center;}

#imgmob1 {
    max-width: 100%;
}
#imgmob2 {
    max-width: 100%;
}
#imgmob3 {
    max-width: 100%;
}
#imgmob4 {
    max-width: 100%;
}
#imgmob5 {
    max-width: 100%;
}
#imgmob6 {
    max-width: 100%;
}

#footer {
    padding-top: 20px;
    background-color: black;
}

#foot1 {text-align: center;}
#foot2 {text-align: center;}
#foot3 {text-align: center;}

#imgfoot1 {
    height: 44px;
    margin-bottom: 5%;
}
#imgfoot2 {
    height: 44px;
    max-width: 100%;
    margin-bottom: 5%;
}
#imgfoot3 {
    height: 44px;
    max-width: 100%;
    margin-bottom: 5%;
}